<template name="studentList">

    <ul>
        {{#each students}}
        <li>
            {{ name }}
            <a id="deleteStudent" class="btn btn-danger" role="button" >X</a>
            <a id="getUpdateForm" class="btn btn-info" role="button" >Modifier</a>
            <div id="{{ _id }}" class="modify form-inline">
                <input type="text" class="updateName-{{_id}} form-control" value="{{ name }}">
                <a class="validUpdate btn btn-inverse" role="button" >Valider</a>
            </div>
        </li>
        {{/each}}
    </ul>

</template>